{% block redactor_widget %}
    {% spaceless %}
{{ block('textarea_widget') }}

<script type="text/javascript">
    $(document).ready(function(){
        if ($('#{{ id }}').siblings('.redactor-editor').length === 0) {
            $('#{{ id }}').redactor({{ form.vars.redactor_settings|raw }});
        }
    });
</script>
    {% endspaceless %}
{% endblock redactor_widget %}

{% block awesome_type_date_picker_widget_html %}
    {% if datepicker_use_button %}
        <div class='input-group date' id='dp_{{ id }}'>
    {% endif %}
    {% set attr = attr|merge({'data-date-format': moment_format}) %}
    {{ block('date_widget') }}
    {% if datepicker_use_button %}
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
    {% endif %}
{% endblock awesome_type_date_picker_widget_html %}

{% block awesome_type_date_picker_widget %}
    {% spaceless %}
        {{ block('awesome_type_date_picker_widget_html') }}
        <script type="text/javascript">
            jQuery(function ($) {
                $('#{{ datepicker_use_button ? 'dp_' : '' }}{{ id }}').datetimepicker({{ dp_options|json_encode|raw }});
            });
        </script>
    {% endspaceless %}
{% endblock awesome_type_date_picker_widget %}

{% block awesome_type_datetime_picker_widget_html %}
    {% if datepicker_use_button %}
        <div class='input-group date' id='dtp_{{ id }}'>
    {% endif %}
    {% set attr = attr|merge({'data-date-format': moment_format}) %}
    {{ block('datetime_widget') }}
    {% if datepicker_use_button %}
          <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
    {% endif %}
{% endblock awesome_type_datetime_picker_widget_html %}

{% block awesome_type_datetime_picker_widget %}
    {% spaceless %}
        {{ block('awesome_type_datetime_picker_widget_html') }}
        <script type="text/javascript">
            jQuery(function ($) {
                $('#{{ datepicker_use_button ? 'dtp_' : '' }}{{ id }}').datetimepicker({{ dp_options|json_encode|raw }});
            });
        </script>
    {% endspaceless %}
{% endblock awesome_type_datetime_picker_widget %}


{% block datemask_widget %}
    {% spaceless %}
        {{ block('form_widget_simple') }}
        <script type="text/javascript">
            $(document).ready(function(){
                $('#{{ id }}').mask({{ form.vars.datemask_setting|raw }});
            });
        </script>
    {% endspaceless %}
{% endblock datemask_widget %}

{% block datemaskpicker_widget %}
    {% spaceless %}
    <div class="date" >
        {{ block('form_widget_simple') }}
        <a style="text-decoration:none;" href="#" class="add-on" id="{{ id }}_datemask" data-date="{% if value is not empty %}value="{{ value }}" {% endif %}"><i class="icon-calendar"></i></a>
      </div>

        <script type="text/javascript">
            $(document).ready(function(){
                $.fn.datepicker.DPGlobal.dates = {
                    days: ["Dimanche", "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi", "Dimanche"],
                    daysShort: ["Dim", "Lun", "Mar", "Mer", "Jeu", "Ven", "Sam", "Dim"],
                    daysMin: ["Di", "Lu", "Ma", "Me", "Je", "Ve", "Sa", "Di"],
                    months: ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Aout", "Septembre", "Octobre", "Novembre", "Décembre"],
                    monthsShort: ["Jan", "Fev", "Mar", "Avr", "Mai", "Juin", "Jui", "Aou", "Sep", "Oct", "Nov", "Déc"],
                    today: "Aujourd'hui"
                };
                $('#{{ id }}').mask({{ form.vars.datemask_settings|raw }});

            $('#{{ id }}_datemask').datepicker({{ form.vars.datepicker_settings|raw }})
                .on('changeDate', function(ev){
                        $('#{{id}}').val($('#{{ id }}_datemask').data('date')).trigger('change');

                });

            });
        </script>
    {% endspaceless %}
{% endblock datemaskpicker_widget %}

{% block select2_widget %}
{# {{block('choice_widget')}} #}
<input type="hidden" id="{{id}}" name="{{ full_name }}" value="{{tag_values}}" tabindex="-1" class="select2-offscreen" />
<script type="text/javascript">
    $("#{{ id }}").select2({
        tags:[{% for id, tag in tags %} { id: "{{id}}", text:"{{tag}}" }{% if not loop.last %},{% endif %}{% endfor %}],
        {% if enable_creation %}
        createSearchChoice:function(term, data) {
            return { id:term, text:term};
        },
        {% endif %}
    });
</script>
{% endblock select2_widget %}
